#container {
  width: 820px;
  background: #ffffff;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
  margin: 20px auto;
  padding: 17px 78px 34px;
  #title {
    font-family: Helvetica;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #282828;
    margin-bottom: 29px;
    margin-top: 16px;
  }
  #productTitle {
    font-family: Helvetica;
    font-size: 24px;
    line-height: 28px;
    color: #373738;
    margin-bottom: 16px;
  }
  #userInfo {
    display: flex;
    margin-bottom: 16px;
    #userAvatar {
      height: 72px;
      width: 72px;
      font-size: 40px;
      font-family: Helvetica;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      text-align: center;
      line-height: 72px;
    }
    #userData {
      margin-left: 6px;
      #fullName {
        font-family: Helvetica;
        font-size: 24px;
        line-height: 28px;
        color: #2b2b2b;
        margin-bottom: 4px;
        margin-top: 8px;
      }
      #userLocation {
        font-family: Helvetica;
        font-size: 15px;
        line-height: 17px;
        color: rgba(43, 43, 43, 0.499918);
      }
    }
  }
  label {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
    display: block;
  }
  textarea {
    background: #f9fafb;
    border: 1px solid #dedee0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 22px;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    resize: none;
    width: 100%;
    height: 216px;
    &::placeholder{
        color: rgba(102, 102, 102, 0.466455);
    }
  }
  button {
    display: block;
    margin: 0 auto;
    width: 377px;
    height: 58px;
    background: #349a89;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
}
