#NotFound{
    height: 60vh;
    text-align: center;
    line-height: 60vh;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #b0b0b0;
}