#footer {
  background: rgba(192, 196, 206, 0.127321);
  text-align: center;
  height: 50px;
  line-height: 50px;
  span {
    margin: 0 4px;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 14.4px;
    color: #c0c4ce;
  }
}
